footer.main-footer
    .container
        .main-footer__content
            .group.group--desctop
                ul
                    li.title
                        span Каталог
                    li
                        a(href="")
                            span Конструкторы развивающие
                    li
                        a(href="")
                            span Конструкторы строительные
                    li
                        a(href="")
                            span Конструкторы с электронными блоками
                    li
                        a(href="")
                            span Ночники беспроводные
                ul
                    li.title
                        span О нас
                    li
                        a(href="about.html")
                            span О компании
                    li
                        a(href="cooperation.html")
                            span Сотрудничество
                    li
                        a(href="contacts.html")
                            span Контакты
                    li
                        a(href="gallery.html")
                            span Персональные данные
                ul
                    li.title
                        span Для клиентов
                    li
                        a(href="main-catalog.html")
                            span Каталог
                    li
                        a(href="delivery.html")
                            span Доставка и оплата
                    li
                        a(href="")
                            span Вопрос-ответ
                    li
                        a(href="")
                            span Сравнение товаров

            ul.main-footer__contacts.main-footer__contacts--desctop
                li.title 
                    span Свяжитесь с нами
                li.btns
                    a.main-button(href="tel:+79207344911") 
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.1615 15.4963C20.1049 15.3259 19.7448 15.0748 19.0813 14.7437C18.9016 14.6393 18.6455 14.4974 18.3141 14.3175C17.9824 14.1375 17.6814 13.9717 17.4115 13.8202C17.1411 13.6687 16.8877 13.5219 16.651 13.3801C16.6131 13.3517 16.4947 13.2689 16.2957 13.1313C16.0965 12.9941 15.9285 12.8923 15.7909 12.8258C15.6535 12.7598 15.5184 12.7266 15.3857 12.7266C15.1962 12.7266 14.9595 12.8616 14.6753 13.1313C14.3912 13.4014 14.1305 13.6947 13.8937 14.0122C13.6569 14.3296 13.4057 14.6229 13.1406 14.8928C12.8752 15.1628 12.6571 15.2977 12.4867 15.2977C12.4012 15.2977 12.2945 15.2739 12.1667 15.2268C12.039 15.1795 11.9418 15.139 11.8751 15.1063C11.809 15.0729 11.6955 15.0068 11.5343 14.9071C11.3728 14.8076 11.283 14.7532 11.2641 14.7437C9.96589 14.0238 8.85253 13.1999 7.92377 12.2722C6.99531 11.3439 6.17076 10.2314 5.4506 8.93402C5.44114 8.91507 5.38653 8.82507 5.2871 8.66417C5.18753 8.50313 5.12117 8.38964 5.08801 8.32318C5.05485 8.25696 5.01458 8.15984 4.96728 8.03203C4.91998 7.90422 4.89623 7.79775 4.89623 7.71243C4.89623 7.54208 5.0313 7.32417 5.30139 7.05899C5.57143 6.79396 5.86527 6.54292 6.1826 6.30635C6.50019 6.06978 6.79373 5.80928 7.06387 5.5253C7.33391 5.24117 7.46893 5.00455 7.46893 4.8152C7.46893 4.68271 7.43577 4.54763 7.3695 4.41037C7.30319 4.27281 7.20133 4.10495 7.06387 3.90599C6.92636 3.70713 6.84346 3.58887 6.81499 3.55081C6.673 3.31425 6.52628 3.06096 6.37448 2.79106C6.22268 2.52121 6.05699 2.22041 5.87687 1.88901C5.69689 1.55777 5.55485 1.302 5.4505 1.1221C5.11903 0.459356 4.86795 0.0993537 4.69734 0.0427365C4.63097 0.0143284 4.5314 0 4.39887 0C4.14287 0 3.80891 0.0472639 3.39673 0.14209C2.9844 0.236767 2.65995 0.336071 2.42301 0.4404C1.9492 0.639157 1.44701 1.21677 0.91629 2.17305C0.433018 3.063 0.191406 3.94385 0.191406 4.81495C0.191406 5.07042 0.207985 5.31898 0.241142 5.56067C0.2743 5.80212 0.333545 6.07441 0.418928 6.37749C0.504162 6.68048 0.572916 6.90556 0.624893 7.05212C0.676919 7.19879 0.774052 7.46153 0.916241 7.84044C1.05823 8.21924 1.14361 8.45114 1.17204 8.53636C1.50367 9.46443 1.89693 10.2929 2.35172 11.0221C3.1 12.2342 4.12116 13.4868 5.41461 14.7794C6.7081 16.072 7.96131 17.0924 9.1743 17.8404C9.90391 18.2949 10.7333 18.6878 11.6619 19.0194C11.7472 19.0477 11.9792 19.1328 12.3582 19.2752C12.7372 19.4172 13.0002 19.5143 13.147 19.5664C13.2938 19.6185 13.5191 19.6873 13.8221 19.7726C14.1257 19.8579 14.3979 19.9171 14.6395 19.9505C14.8813 19.9832 15.13 20 15.3857 20C16.2574 20 17.1389 19.7585 18.0296 19.2756C18.9865 18.7454 19.5643 18.2435 19.7633 17.7696C19.868 17.5331 19.9671 17.2088 20.0618 16.7968C20.1569 16.3849 20.2041 16.0512 20.2041 15.7955C20.2044 15.6625 20.1901 15.5632 20.1615 15.4963Z" fill="white"/></svg>
                        span +7 (920) 734-49-11
                    a.main-button(href="mailto:lampstory@gmail.com") 
                        <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.9999 14.7523V1.30762L14.4971 7.89354L21.9999 14.7523Z" fill="white"/><path d="M0.00484 1.02832C0.00484 1.03668 0 1.0424 0 1.0512V14.6498L7.49408 7.79948L0.00484 1.02832Z" fill="white"/><path d="M12.3691 8.14745L21.2993 0.308852C21.2808 0.307092 21.2654 0.297852 21.2465 0.297852H0.999023L9.65954 8.12765C10.4273 8.82109 11.5925 8.82945 12.3691 8.14745Z" fill="white"/><path d="M13.1637 9.06701C12.5516 9.60381 11.7891 9.87177 11.027 9.87177C10.2482 9.87177 9.46987 9.59281 8.85299 9.03445L8.39803 8.62305L0.673828 15.6842C0.701108 15.6868 0.724868 15.7 0.753028 15.7H21.2368L13.5799 8.70137L13.1637 9.06701Z" fill="white"/></svg>
                        span lampstory@gmail.com
                li.social
                    span Мы в социальных сетях
                    .social__icns
                        a.icn.icn--vk(href="")
                            <svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.3831 11.4427C26.8496 10.7549 27.0023 10.449 27.3831 9.83424C27.39 9.82722 31.7941 3.61529 32.2479 1.50863L32.2506 1.50722C32.4761 0.739503 32.2506 0.175293 31.1603 0.175293H27.5522C26.6338 0.175293 26.2102 0.659503 25.9834 1.20126C25.9834 1.20126 24.1464 5.68968 21.5476 8.59915C20.7089 9.43986 20.3211 9.70933 19.8633 9.70933C19.6378 9.70933 19.2871 9.43986 19.2871 8.67214V1.50722C19.2871 0.586521 19.03 0.175293 18.2696 0.175293H12.5964C12.0203 0.175293 11.6779 0.604767 11.6779 1.00477C11.6779 1.87775 12.9773 2.07845 13.112 4.53459V9.86372C13.112 11.0314 12.9044 11.2462 12.4438 11.2462C11.2172 11.2462 8.24038 6.7395 6.47625 1.58161C6.12012 0.580907 5.77225 0.176696 4.84688 0.176696H1.2375C0.207625 0.176696 0 0.660907 0 1.20266C0 2.15985 1.2265 6.91915 5.7035 13.2069C8.68725 17.4988 12.8893 19.8244 16.7118 19.8244C19.0094 19.8244 19.2899 19.3079 19.2899 18.4195C19.2899 14.3185 19.0823 13.9311 20.2331 13.9311C20.7666 13.9311 21.6851 14.2006 23.8301 16.2707C26.2817 18.7255 26.6846 19.8244 28.0569 19.8244H31.6649C32.6934 19.8244 33.2145 19.3079 32.9147 18.289C32.2286 16.1458 27.5921 11.7374 27.3831 11.4427Z" fill="#F3862A"/></svg>
                        a.icn.icn--inst(href="")
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.8125 0H17.1875C21.5016 0 25 3.49844 25 7.8125V17.1875C25 21.5016 21.5016 25 17.1875 25H7.8125C3.49844 25 0 21.5016 0 17.1875V7.8125C0 3.49844 3.49844 0 7.8125 0ZM19.2187 6.61409C19.6787 6.61409 20.0515 6.24123 20.0515 5.78128C20.0515 5.32133 19.6787 4.94847 19.2187 4.94847C18.7588 4.94847 18.3859 5.32133 18.3859 5.78128C18.3859 6.24123 18.7588 6.61409 19.2187 6.61409ZM12.5 6.25C9.04844 6.25 6.25 9.04844 6.25 12.5C6.25 15.9516 9.04844 18.75 12.5 18.75C15.9516 18.75 18.75 15.9516 18.75 12.5C18.75 9.04844 15.9516 6.25 12.5 6.25ZM12.5 16.4062C10.3469 16.4062 8.59375 14.6531 8.59375 12.5C8.59375 10.3453 10.3469 8.59375 12.5 8.59375C14.6531 8.59375 16.4062 10.3453 16.4062 12.5C16.4062 14.6531 14.6531 16.4062 12.5 16.4062Z" fill="#F3862A"/></svg>

                        a.icn.icn--tw(href="")
                            <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.81018 15.1585L9.39662 21.5801C9.98832 21.5801 10.2446 21.2995 10.5519 20.9625L13.326 18.0358L19.0743 22.6829C20.1285 23.3315 20.8713 22.99 21.1557 21.6123L24.9288 2.0945C25.2632 0.374104 24.3663 -0.299796 23.3392 0.122254L1.16068 9.4959C-0.352962 10.1445 -0.330044 11.076 0.903367 11.4981L6.57352 13.445L19.7441 4.34735C20.364 3.89425 20.9276 4.14495 20.464 4.59805L9.81018 15.1585Z" fill="#F3862A"/></svg>

    .group.group--mobile
        ul.main-footer__mobile-menu
            li
                a
                    span Каталог
                    i
                        <svg width="13" height="7" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3609 9.29602L1.79738 0.295551C1.42162 -0.098517 0.812826 -0.098517 0.436117 0.295551C0.0603568 0.689619 0.0603568 1.32969 0.436117 1.72376L8.32036 10.0101L0.437066 18.2964C0.0613058 18.6905 0.0613058 19.3305 0.437066 19.7256C0.812826 20.1197 1.42257 20.1197 1.79833 19.7256L10.3618 10.7251C10.7319 10.3351 10.7319 9.68501 10.3609 9.29602Z" fill="#4F4F51"/></svg>
                ul.submenu
                    li
                        a(href="") один
                    li
                        a(href="") два
                    li
                        a(href="") три

            li
                a
                    span О нас
                    i
                        <svg width="13" height="7" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3609 9.29602L1.79738 0.295551C1.42162 -0.098517 0.812826 -0.098517 0.436117 0.295551C0.0603568 0.689619 0.0603568 1.32969 0.436117 1.72376L8.32036 10.0101L0.437066 18.2964C0.0613058 18.6905 0.0613058 19.3305 0.437066 19.7256C0.812826 20.1197 1.42257 20.1197 1.79833 19.7256L10.3618 10.7251C10.7319 10.3351 10.7319 9.68501 10.3609 9.29602Z" fill="#4F4F51"/></svg>
                ul.submenu
                    li
                        a(href="") один
                    li
                        a(href="") два
                    li
                        a(href="") три

            li
                a
                    span Для клиентов
                    i
                        <svg width="13" height="7" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3609 9.29602L1.79738 0.295551C1.42162 -0.098517 0.812826 -0.098517 0.436117 0.295551C0.0603568 0.689619 0.0603568 1.32969 0.436117 1.72376L8.32036 10.0101L0.437066 18.2964C0.0613058 18.6905 0.0613058 19.3305 0.437066 19.7256C0.812826 20.1197 1.42257 20.1197 1.79833 19.7256L10.3618 10.7251C10.7319 10.3351 10.7319 9.68501 10.3609 9.29602Z" fill="#4F4F51"/></svg>
                ul.submenu
                    li
                        a(href="") один
                    li
                        a(href="") два
                    li
                        a(href="") три

    .container
        ul.main-footer__contacts.main-footer__contacts--mobile
            li.title 
                span Свяжитесь с нами
            li.btns
                a.main-button(href="tel:+79207344911") 
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.1615 15.4963C20.1049 15.3259 19.7448 15.0748 19.0813 14.7437C18.9016 14.6393 18.6455 14.4974 18.3141 14.3175C17.9824 14.1375 17.6814 13.9717 17.4115 13.8202C17.1411 13.6687 16.8877 13.5219 16.651 13.3801C16.6131 13.3517 16.4947 13.2689 16.2957 13.1313C16.0965 12.9941 15.9285 12.8923 15.7909 12.8258C15.6535 12.7598 15.5184 12.7266 15.3857 12.7266C15.1962 12.7266 14.9595 12.8616 14.6753 13.1313C14.3912 13.4014 14.1305 13.6947 13.8937 14.0122C13.6569 14.3296 13.4057 14.6229 13.1406 14.8928C12.8752 15.1628 12.6571 15.2977 12.4867 15.2977C12.4012 15.2977 12.2945 15.2739 12.1667 15.2268C12.039 15.1795 11.9418 15.139 11.8751 15.1063C11.809 15.0729 11.6955 15.0068 11.5343 14.9071C11.3728 14.8076 11.283 14.7532 11.2641 14.7437C9.96589 14.0238 8.85253 13.1999 7.92377 12.2722C6.99531 11.3439 6.17076 10.2314 5.4506 8.93402C5.44114 8.91507 5.38653 8.82507 5.2871 8.66417C5.18753 8.50313 5.12117 8.38964 5.08801 8.32318C5.05485 8.25696 5.01458 8.15984 4.96728 8.03203C4.91998 7.90422 4.89623 7.79775 4.89623 7.71243C4.89623 7.54208 5.0313 7.32417 5.30139 7.05899C5.57143 6.79396 5.86527 6.54292 6.1826 6.30635C6.50019 6.06978 6.79373 5.80928 7.06387 5.5253C7.33391 5.24117 7.46893 5.00455 7.46893 4.8152C7.46893 4.68271 7.43577 4.54763 7.3695 4.41037C7.30319 4.27281 7.20133 4.10495 7.06387 3.90599C6.92636 3.70713 6.84346 3.58887 6.81499 3.55081C6.673 3.31425 6.52628 3.06096 6.37448 2.79106C6.22268 2.52121 6.05699 2.22041 5.87687 1.88901C5.69689 1.55777 5.55485 1.302 5.4505 1.1221C5.11903 0.459356 4.86795 0.0993537 4.69734 0.0427365C4.63097 0.0143284 4.5314 0 4.39887 0C4.14287 0 3.80891 0.0472639 3.39673 0.14209C2.9844 0.236767 2.65995 0.336071 2.42301 0.4404C1.9492 0.639157 1.44701 1.21677 0.91629 2.17305C0.433018 3.063 0.191406 3.94385 0.191406 4.81495C0.191406 5.07042 0.207985 5.31898 0.241142 5.56067C0.2743 5.80212 0.333545 6.07441 0.418928 6.37749C0.504162 6.68048 0.572916 6.90556 0.624893 7.05212C0.676919 7.19879 0.774052 7.46153 0.916241 7.84044C1.05823 8.21924 1.14361 8.45114 1.17204 8.53636C1.50367 9.46443 1.89693 10.2929 2.35172 11.0221C3.1 12.2342 4.12116 13.4868 5.41461 14.7794C6.7081 16.072 7.96131 17.0924 9.1743 17.8404C9.90391 18.2949 10.7333 18.6878 11.6619 19.0194C11.7472 19.0477 11.9792 19.1328 12.3582 19.2752C12.7372 19.4172 13.0002 19.5143 13.147 19.5664C13.2938 19.6185 13.5191 19.6873 13.8221 19.7726C14.1257 19.8579 14.3979 19.9171 14.6395 19.9505C14.8813 19.9832 15.13 20 15.3857 20C16.2574 20 17.1389 19.7585 18.0296 19.2756C18.9865 18.7454 19.5643 18.2435 19.7633 17.7696C19.868 17.5331 19.9671 17.2088 20.0618 16.7968C20.1569 16.3849 20.2041 16.0512 20.2041 15.7955C20.2044 15.6625 20.1901 15.5632 20.1615 15.4963Z" fill="white"/></svg>
                    span +7 (920) 734-49-11
                a.main-button(href="mailto:lampstory@gmail.com") 
                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.9999 14.7523V1.30762L14.4971 7.89354L21.9999 14.7523Z" fill="white"/><path d="M0.00484 1.02832C0.00484 1.03668 0 1.0424 0 1.0512V14.6498L7.49408 7.79948L0.00484 1.02832Z" fill="white"/><path d="M12.3691 8.14745L21.2993 0.308852C21.2808 0.307092 21.2654 0.297852 21.2465 0.297852H0.999023L9.65954 8.12765C10.4273 8.82109 11.5925 8.82945 12.3691 8.14745Z" fill="white"/><path d="M13.1637 9.06701C12.5516 9.60381 11.7891 9.87177 11.027 9.87177C10.2482 9.87177 9.46987 9.59281 8.85299 9.03445L8.39803 8.62305L0.673828 15.6842C0.701108 15.6868 0.724868 15.7 0.753028 15.7H21.2368L13.5799 8.70137L13.1637 9.06701Z" fill="white"/></svg>
                    span lampstory@gmail.com
            li.social
                span Мы в социальных сетях
                .social__icns
                    a.icn.icn--vk(href="")
                        <svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.3831 11.4427C26.8496 10.7549 27.0023 10.449 27.3831 9.83424C27.39 9.82722 31.7941 3.61529 32.2479 1.50863L32.2506 1.50722C32.4761 0.739503 32.2506 0.175293 31.1603 0.175293H27.5522C26.6338 0.175293 26.2102 0.659503 25.9834 1.20126C25.9834 1.20126 24.1464 5.68968 21.5476 8.59915C20.7089 9.43986 20.3211 9.70933 19.8633 9.70933C19.6378 9.70933 19.2871 9.43986 19.2871 8.67214V1.50722C19.2871 0.586521 19.03 0.175293 18.2696 0.175293H12.5964C12.0203 0.175293 11.6779 0.604767 11.6779 1.00477C11.6779 1.87775 12.9773 2.07845 13.112 4.53459V9.86372C13.112 11.0314 12.9044 11.2462 12.4438 11.2462C11.2172 11.2462 8.24038 6.7395 6.47625 1.58161C6.12012 0.580907 5.77225 0.176696 4.84688 0.176696H1.2375C0.207625 0.176696 0 0.660907 0 1.20266C0 2.15985 1.2265 6.91915 5.7035 13.2069C8.68725 17.4988 12.8893 19.8244 16.7118 19.8244C19.0094 19.8244 19.2899 19.3079 19.2899 18.4195C19.2899 14.3185 19.0823 13.9311 20.2331 13.9311C20.7666 13.9311 21.6851 14.2006 23.8301 16.2707C26.2817 18.7255 26.6846 19.8244 28.0569 19.8244H31.6649C32.6934 19.8244 33.2145 19.3079 32.9147 18.289C32.2286 16.1458 27.5921 11.7374 27.3831 11.4427Z" fill="#F3862A"/></svg>
                    a.icn.icn--inst(href="")
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.8125 0H17.1875C21.5016 0 25 3.49844 25 7.8125V17.1875C25 21.5016 21.5016 25 17.1875 25H7.8125C3.49844 25 0 21.5016 0 17.1875V7.8125C0 3.49844 3.49844 0 7.8125 0ZM19.2187 6.61409C19.6787 6.61409 20.0515 6.24123 20.0515 5.78128C20.0515 5.32133 19.6787 4.94847 19.2187 4.94847C18.7588 4.94847 18.3859 5.32133 18.3859 5.78128C18.3859 6.24123 18.7588 6.61409 19.2187 6.61409ZM12.5 6.25C9.04844 6.25 6.25 9.04844 6.25 12.5C6.25 15.9516 9.04844 18.75 12.5 18.75C15.9516 18.75 18.75 15.9516 18.75 12.5C18.75 9.04844 15.9516 6.25 12.5 6.25ZM12.5 16.4062C10.3469 16.4062 8.59375 14.6531 8.59375 12.5C8.59375 10.3453 10.3469 8.59375 12.5 8.59375C14.6531 8.59375 16.4062 10.3453 16.4062 12.5C16.4062 14.6531 14.6531 16.4062 12.5 16.4062Z" fill="#F3862A"/></svg>

                    a.icn.icn--tw(href="")
                        <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.81018 15.1585L9.39662 21.5801C9.98832 21.5801 10.2446 21.2995 10.5519 20.9625L13.326 18.0358L19.0743 22.6829C20.1285 23.3315 20.8713 22.99 21.1557 21.6123L24.9288 2.0945C25.2632 0.374104 24.3663 -0.299796 23.3392 0.122254L1.16068 9.4959C-0.352962 10.1445 -0.330044 11.076 0.903367 11.4981L6.57352 13.445L19.7441 4.34735C20.364 3.89425 20.9276 4.14495 20.464 4.59805L9.81018 15.1585Z" fill="#F3862A"/></svg>

        .main-footer__copyright
            p © 2020 LampStory. ИП Кулешов А.С., ОГРН 317463200041564. Все права защищены.
            span Разработано в <a href="http://kvokka.com/" target="_blank">Kvokka</a>



