.pagination
    ul
        li.current.current--mode
            a(href="")
                <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.13275 5.3569L7.21646 9.85238C7.39565 10.0492 7.68596 10.0492 7.86561 9.85238C8.0448 9.65555 8.0448 9.33586 7.86561 9.13903L4.10582 5.00025L7.86516 0.861465C8.04435 0.664639 8.04435 0.344943 7.86516 0.147619C7.68597 -0.0492068 7.3952 -0.0492068 7.21601 0.147619L3.1323 4.6431C2.95582 4.83789 2.95582 5.16261 3.13275 5.3569Z" fill="#FF4A4A"/><path d="M0.132751 5.3569L4.21646 9.85238C4.39565 10.0492 4.68596 10.0492 4.86561 9.85238C5.0448 9.65555 5.0448 9.33586 4.86561 9.13903L1.10582 5.00025L4.86516 0.861465C5.04435 0.664639 5.04435 0.344943 4.86516 0.147619C4.68597 -0.0492068 4.3952 -0.0492068 4.21601 0.147619L0.132299 4.6431C-0.0441766 4.83789 -0.0441762 5.16261 0.132751 5.3569Z" fill="#FF4A4A"/></svg>
        li.current.current--mode
            a(href="")
                <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.132751 5.3569L4.21646 9.85238C4.39565 10.0492 4.68596 10.0492 4.86561 9.85238C5.0448 9.65555 5.0448 9.33586 4.86561 9.13903L1.10582 5.00025L4.86516 0.861465C5.04435 0.664639 5.04435 0.344943 4.86516 0.147619C4.68597 -0.0492068 4.3952 -0.0492068 4.21601 0.147619L0.132299 4.6431C-0.0441766 4.83789 -0.0441762 5.16261 0.132751 5.3569Z" fill="#FF4A4A"/></svg>
        ul.numbers
            li.current
                a(href="") 1
            li
                a(href="") 2
            li
                a(href="") 3
            li
                a(href="") 4
            li
                a ...
            li
                a(href="") 10
        li.current.current--mode
            a(href="")
                <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.86725 5.3569L0.783543 9.85238C0.604352 10.0492 0.314036 10.0492 0.134393 9.85238C-0.0447976 9.65555 -0.0447976 9.33586 0.134393 9.13903L3.89418 5.00025L0.134844 0.861465C-0.0443458 0.664639 -0.0443459 0.344943 0.134844 0.147619C0.314035 -0.0492068 0.604804 -0.0492068 0.783994 0.147619L4.8677 4.6431C5.04418 4.83789 5.04418 5.16261 4.86725 5.3569Z" fill="#FF4A4A"/></svg>
        li.current.current--mode
            a(href="")
                <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.86725 5.3569L0.783543 9.85238C0.604352 10.0492 0.314036 10.0492 0.134393 9.85238C-0.0447976 9.65555 -0.0447976 9.33586 0.134393 9.13903L3.89418 5.00025L0.134844 0.861465C-0.0443458 0.664639 -0.0443459 0.344943 0.134844 0.147619C0.314035 -0.0492068 0.604804 -0.0492068 0.783994 0.147619L4.8677 4.6431C5.04418 4.83789 5.04418 5.16261 4.86725 5.3569Z" fill="#FF4A4A"/><path d="M7.86725 5.3569L3.78354 9.85238C3.60435 10.0492 3.31404 10.0492 3.13439 9.85238C2.9552 9.65555 2.9552 9.33586 3.13439 9.13903L6.89418 5.00025L3.13484 0.861465C2.95565 0.664639 2.95565 0.344943 3.13484 0.147619C3.31403 -0.0492068 3.6048 -0.0492068 3.78399 0.147619L7.8677 4.6431C8.04418 4.83789 8.04418 5.16261 7.86725 5.3569Z" fill="#FF4A4A"/></svg>