.change-city {
    margin-bottom: 60px;
    input {
        max-width: 500px;
        width: 100%;
        border: 1px solid #bababa;
        padding: 0 30px;
        line-height: 50px;
    }
    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}
.change-method {
    h3 {
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        li {
            display: flex;
            input {
                display: none;
                &:checked + label::before {
                    background-image: url("../images/svg/radio.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 12px 12px;
                }
            }
            label {
                position: relative;
                padding-left: 30px;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid #e5e5e5;
                }
            }
            p {
                font-weight: 700;
                &.price {
                    color: $color-red;
                    font-weight: 400;
                }
                &.time {
                    font-weight: 400;
                    color: #bababa;
                }
            }
            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}

.change__delivery {
    position: relative;
    padding: 40px 0;
    h2.main-title {
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }
    .delivery-logo {
        position: absolute;
        top: 30px;
        right: 0;
        width: 144px;
        height: 38px;
        background-image: url("../images/svg/delivery-logo.svg");
        background-size: cover;
        @media (max-width: 768px) {
            position: relative;
            top: 0;
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
}

ul.change-payment {
    display: flex;
    justify-content: space-between;
    h2 {
        margin-bottom: 10px;
    }
    li {
        margin-bottom: 15px;
        input[type="radio"] {
            display: none;
            &:checked + label::before {
                background-image: url("../images/svg/radio.svg");
                background-size: 12px 12px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        label {
            position: relative;
            padding-left: 30px;
            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid #e5e5e5;
                left: 0;
                top: 0;
            }
        }
        span.price {
            font-weight: 700;
            font-size: 30px;
            font-family: $font-title;
        }
        &.btns {
            text-align: center;
            a.main-button {
                justify-content: center;
                margin-bottom: 15px;
                @media (max-width: 768px) {
                    max-width: 215px;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    font-size: 14px;
                }
            }
        }
    }
    input[type="reset"] {
        color: $color-red;
        background-color: transparent;
        border: 0;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
    }
}
