.main-videoreview {
}

.main-videoreview__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .video {
        overflow: hidden;
        flex: 1 0 49%;
        max-width: 49%;
        margin-bottom: 20px;
        video {
            width: 100%;
            object-fit: inherit;
        }
        p {
            font-family: $font-title;
        }
        @media (max-width: 768px) {
            flex: 0 0 auto;
            max-width: 100%;
        }
    }
}
