doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .content
            include modules/header.pug

            main.page-cart-product
                //- breadcrumbs
                section.breadcrumbs
                    .container
                        ul
                            li
                                a(href="index.html") Главная
                            li
                                span /
                            li
                                a(href="main-catalog.html") Каталог
                            li
                                span /
                            li
                                a.current Конструктор строительные машинки с шуруповертом и отверткой LampStory

                        a.main-button(href="main-catalog.html") 
                            span В каталог
                            <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.869096 9.29602L9.44448 0.295551C9.82076 -0.098517 10.4304 -0.098517 10.8076 0.295551C11.1839 0.689619 11.1839 1.32969 10.8076 1.72376L2.91244 10.0101L10.8067 18.2964C11.183 18.6905 11.183 19.3305 10.8067 19.7256C10.4304 20.1197 9.81981 20.1197 9.44353 19.7256L0.868145 10.7251C0.497564 10.3351 0.497564 9.68501 0.869096 9.29602Z" fill="#4F4F51"/></svg>
                section.cart-product
                    .container
                        .cart-product__item
                            .cart-product__slider
                                .slider-for
                                    .item-big
                                        img(src="images/cart-product/item1-big.jpg" alt="")
                                    .item-big
                                        img(src="images/cart-product/item1-big.jpg" alt="")
                                    .item-big
                                        img(src="images/cart-product/item1-big.jpg" alt="")
                                    .item-big
                                        img(src="images/cart-product/item1-big.jpg" alt="")
                                    .item-big
                                        img(src="images/cart-product/item1-big.jpg" alt="")
                                    button.slick-prev

                                    button.slick-next

                                ul.slider-nav
                                    li.item
                                        img(src="images/cart-product/item1.jpg" alt="")
                                    li.item
                                        img(src="images/cart-product/item2.jpg" alt="")
                                    li.item
                                        img(src="images/cart-product/item3.jpg" alt="")
                                    li.item
                                        img(src="images/cart-product/item4.jpg" alt="")
                                    li.item
                                        img(src="images/cart-product/item5.jpg" alt="")
                            .cart-product__description
                                .head
                                    h1.main-title Конструктор строительные машинки с шуруповертом и отверткой
                                    p.subtitle Конструкторы развивающие
                                p.price 2290 ₽
                                .label
                                    span Характеристики товара
                                ul.cart-product__specifications
                                    li
                                        span Количество деталей
                                        span.underline
                                        span 68
                                    li
                                        span Размер (см)
                                        span.underline
                                        span  32x13x9
                                    li
                                        span Инструменты
                                        span.underline
                                        span отвертка, шуруповерт (2 насадки)
                                    li
                                        span Наличие карточек
                                        span.underline
                                        span нет
                                    li
                                        span Возраст
                                        span.underline
                                        span 1+
                                .btns
                                    a.main-button.main-button--compare 
                                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.06979 22.2842H2.85066C2.11584 22.2842 1.52026 21.6887 1.52026 20.9538V9.31282C1.52026 8.578 2.11584 7.98242 2.85066 7.98242H6.06979C6.80462 7.98242 7.40019 8.578 7.40019 9.31282V20.9538C7.40019 21.6887 6.80462 22.2842 6.06979 22.2842Z" fill="#FF4A4A"/><path d="M14.2739 22.2842H11.0548C10.3199 22.2842 9.72437 21.6886 9.72437 20.9538V1.3304C9.72437 0.595576 10.3199 0 11.0548 0H14.2739C15.0087 0 15.6043 0.595576 15.6043 1.3304V20.9538C15.6043 21.6886 15.0087 22.2842 14.2739 22.2842Z" fill="#FF4A4A"/><path d="M22.552 22.2842H19.3328C18.598 22.2842 18.0024 21.6887 18.0024 20.9538V5.76509C18.0024 5.03027 18.598 4.43469 19.3328 4.43469H22.552C23.2868 4.43469 23.8824 5.03027 23.8824 5.76509V20.9538C23.8824 21.6887 23.2868 22.2842 22.552 22.2842Z" fill="#FF4A4A"/><path d="M23.4793 25H1.52018C1.15255 25 0.85498 24.7025 0.85498 24.3348C0.85498 23.9672 1.15255 23.6696 1.52018 23.6696H23.4802C23.8478 23.6696 24.1454 23.9672 24.1454 24.3348C24.1445 24.7025 23.847 25 23.4793 25Z" fill="#FF4A4A"/></svg>
                                        span Сравнить товара
                                    a.main-button.main-button--by Купить
                    .group.group--mobile
                        ul.main-footer__mobile-menu
                            li
                                a
                                    span Описание товара
                                    i
                                        <svg width="13" height="7" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3609 9.29602L1.79738 0.295551C1.42162 -0.098517 0.812826 -0.098517 0.436117 0.295551C0.0603568 0.689619 0.0603568 1.32969 0.436117 1.72376L8.32036 10.0101L0.437066 18.2964C0.0613058 18.6905 0.0613058 19.3305 0.437066 19.7256C0.812826 20.1197 1.42257 20.1197 1.79833 19.7256L10.3618 10.7251C10.7319 10.3351 10.7319 9.68501 10.3609 9.29602Z" fill="#4F4F51"/></svg>
                                ul.submenu
                                    li
                                        a(href="") один
                                    li
                                        a(href="") два
                                    li
                                        a(href="") три

                            li
                                a
                                    span О нас
                                    i
                                        <svg width="13" height="7" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3609 9.29602L1.79738 0.295551C1.42162 -0.098517 0.812826 -0.098517 0.436117 0.295551C0.0603568 0.689619 0.0603568 1.32969 0.436117 1.72376L8.32036 10.0101L0.437066 18.2964C0.0613058 18.6905 0.0613058 19.3305 0.437066 19.7256C0.812826 20.1197 1.42257 20.1197 1.79833 19.7256L10.3618 10.7251C10.7319 10.3351 10.7319 9.68501 10.3609 9.29602Z" fill="#4F4F51"/></svg>
                                ul.submenu
                                    li
                                        a(href="") один
                                    li
                                        a(href="") два
                                    li
                                        a(href="") три

                            li
                                a
                                    span Отзывы
                                    i
                                        <svg width="13" height="7" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3609 9.29602L1.79738 0.295551C1.42162 -0.098517 0.812826 -0.098517 0.436117 0.295551C0.0603568 0.689619 0.0603568 1.32969 0.436117 1.72376L8.32036 10.0101L0.437066 18.2964C0.0613058 18.6905 0.0613058 19.3305 0.437066 19.7256C0.812826 20.1197 1.42257 20.1197 1.79833 19.7256L10.3618 10.7251C10.7319 10.3351 10.7319 9.68501 10.3609 9.29602Z" fill="#4F4F51"/></svg>
                                ul.submenu
                                    li
                                        a(href="") один
                                    li
                                        a(href="") два
                                    li
                                        a(href="") три
                                ul.submenu
                                    li
                                        a(href="") один
                                    li
                                        a(href="") два
                                    li
                                        a(href="") три
                section.videoreview
                    .container
                        h2.main-title Видеообзор товара
                        .videoreview__content
                            video(src="" poster="images/videoreview.jpg")
                            p Что такое наши конструкторы? Полный разбор строительного конструктора “Машинки” с шуруповертом и отверткой
                section.text-review
                    .container
                        .tabs
                            ul.tabs__caption
                                li.active
                                    a.main-button
                                        <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.4549 1.23047H9.73604C9.48274 0.514295 8.80015 0 8.00002 0C7.19989 0 6.5173 0.514295 6.264 1.23047H5.54512C5.20619 1.23047 4.9314 1.50593 4.9314 1.8457V2.46094H0.635331C0.296391 2.46094 0.0216064 2.7364 0.0216064 3.07617V20.3848C0.0216064 20.7245 0.296391 21 0.635331 21H15.3647C15.7037 21 15.9784 20.7245 15.9784 20.3848V3.07617C15.9784 2.7364 15.7037 2.46094 15.3647 2.46094H11.0686V1.8457C11.0686 1.50593 10.7939 1.23047 10.4549 1.23047ZM6.15885 2.46094H6.77257C7.11151 2.46094 7.3863 2.18548 7.3863 1.8457C7.3863 1.50646 7.66161 1.23047 8.00002 1.23047C8.33843 1.23047 8.61375 1.50646 8.61375 1.8457C8.61375 2.18548 8.88853 2.46094 9.22747 2.46094H9.84119V3.69141H6.15885V2.46094ZM14.751 3.69141V19.7695H1.24905V3.69141H4.9314V4.30664C4.9314 4.64641 5.20619 4.92188 5.54512 4.92188H10.4549C10.7939 4.92188 11.0686 4.64641 11.0686 4.30664V3.69141H14.751Z" fill="#4F4F51"/><path d="M4.9314 6.76758C4.9314 7.10735 5.20618 7.38281 5.54512 7.38281H12.9098C13.2488 7.38281 13.5235 7.10735 13.5235 6.76758C13.5235 6.4278 13.2488 6.15234 12.9098 6.15234H5.54512C5.20618 6.15234 4.9314 6.4278 4.9314 6.76758Z" fill="#4F4F51"/><path d="M3.09016 7.38281C3.42912 7.38281 3.70389 7.10736 3.70389 6.76758C3.70389 6.42779 3.42912 6.15234 3.09016 6.15234C2.75121 6.15234 2.47644 6.42779 2.47644 6.76758C2.47644 7.10736 2.75121 7.38281 3.09016 7.38281Z" fill="#4F4F51"/><path d="M12.9098 8.61328H5.54512C5.20618 8.61328 4.9314 8.88874 4.9314 9.22852C4.9314 9.56829 5.20618 9.84375 5.54512 9.84375H12.9098C13.2488 9.84375 13.5235 9.56829 13.5235 9.22852C13.5235 8.88874 13.2488 8.61328 12.9098 8.61328Z" fill="#4F4F51"/><path d="M3.09016 9.84375C3.42912 9.84375 3.70389 9.5683 3.70389 9.22852C3.70389 8.88873 3.42912 8.61328 3.09016 8.61328C2.75121 8.61328 2.47644 8.88873 2.47644 9.22852C2.47644 9.5683 2.75121 9.84375 3.09016 9.84375Z" fill="#4F4F51"/><path d="M12.9098 11.0742H5.54512C5.20618 11.0742 4.9314 11.3497 4.9314 11.6895C4.9314 12.0292 5.20618 12.3047 5.54512 12.3047H12.9098C13.2488 12.3047 13.5235 12.0292 13.5235 11.6895C13.5235 11.3497 13.2488 11.0742 12.9098 11.0742Z" fill="#4F4F51"/><path d="M3.09016 12.3047C3.42912 12.3047 3.70389 12.0292 3.70389 11.6895C3.70389 11.3497 3.42912 11.0742 3.09016 11.0742C2.75121 11.0742 2.47644 11.3497 2.47644 11.6895C2.47644 12.0292 2.75121 12.3047 3.09016 12.3047Z" fill="#4F4F51"/><path d="M12.9098 13.5352H3.09016C2.75123 13.5352 2.47644 13.8106 2.47644 14.1504V17.9238C2.47644 18.2636 2.75123 18.5391 3.09016 18.5391H12.9098C13.2487 18.5391 13.5235 18.2636 13.5235 17.9238V14.1504C13.5235 13.8106 13.2487 13.5352 12.9098 13.5352ZM12.296 17.3086H3.70389V14.7656H12.296V17.3086Z" fill="#4F4F51"/></svg>
                                        span Описание товара
                                li
                                    a.main-button
                                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M10.459 8.28516C10.9121 8.28516 11.2793 8.65237 11.2793 9.10547C11.2793 9.55856 10.9121 9.92578 10.459 9.92578C10.0059 9.92578 9.63865 9.55856 9.63865 9.10547C9.63865 8.65237 10.0059 8.28516 10.459 8.28516ZM13.3301 9.10547C13.3301 9.55856 13.6973 9.92578 14.1504 9.92578C14.6035 9.92578 14.9707 9.55856 14.9707 9.10547C14.9707 8.65237 14.6035 8.28516 14.1504 8.28516C13.6973 8.28516 13.3301 8.65237 13.3301 9.10547ZM5.94725 9.10547C5.94725 9.55856 6.31447 9.92578 6.76757 9.92578C7.22066 9.92578 7.58788 9.55856 7.58788 9.10547C7.58788 8.65237 7.22066 8.28516 6.76757 8.28516C6.31447 8.28516 5.94725 8.65237 5.94725 9.10547ZM20.2787 16.7985C21.2387 17.7585 21.2387 19.3196 20.2791 20.2792C19.7995 20.7589 19.1692 20.9989 18.539 20.9989C17.9089 20.9989 17.2786 20.7589 16.7989 20.2792L12.2959 15.7862C12.2002 15.6907 12.1297 15.5733 12.0905 15.4438L11.1096 12.215C11.0226 11.9287 11.0984 11.6178 11.3073 11.4036C11.5162 11.1896 11.8251 11.1063 12.1135 11.1861L15.4244 12.1031C15.5608 12.1409 15.6849 12.2132 15.7851 12.3132L20.2787 16.7985ZM13.6003 14.7701L16.6392 17.8022L17.7995 16.6419L14.7786 13.6268L13.113 13.1654L13.6003 14.7701ZM19.119 17.9591L18.9607 17.8009L17.8006 18.9611L17.9584 19.1184C18.2788 19.439 18.7992 19.439 19.119 19.119C19.439 18.7993 19.439 18.2789 19.119 17.9591ZM10.9563 16.9991C10.8047 17.0056 10.6512 17.009 10.5 17.009C9.18091 17.009 7.91103 16.7634 6.72575 16.279C6.52388 16.1967 6.29733 16.198 6.09642 16.2827L2.36128 17.8594L3.61978 14.8783C3.74283 14.5868 3.68723 14.2504 3.47671 14.0139C2.27556 12.6645 1.64062 11.05 1.64062 9.34531C1.64062 5.09699 5.61496 1.64062 10.5 1.64062C15.385 1.64062 19.3593 5.09699 19.3593 9.34531C19.3593 10.3528 19.112 11.3642 18.6239 12.3513C18.4232 12.7575 18.5897 13.2495 18.9958 13.4502C19.402 13.651 19.894 13.4845 20.0947 13.0784C20.6954 11.8631 21 10.6072 21 9.34531C21 4.19225 16.2897 0 10.5 0C4.71038 0 0 4.19225 0 9.34531C0 11.2904 0.659453 13.1324 1.91283 14.7033L0.0645675 19.0814C-0.0652083 19.3889 0.00432588 19.7444 0.240325 19.9804C0.397338 20.1374 0.607062 20.2207 0.820471 20.2207C0.927977 20.2207 1.03644 20.1996 1.1393 20.1561L6.42742 17.9238C7.71717 18.4056 9.08558 18.6496 10.5 18.6496C10.6749 18.6496 10.8526 18.6456 11.0281 18.6381C11.4807 18.6182 11.8315 18.2353 11.8117 17.7827C11.792 17.3301 11.4082 16.9781 10.9563 16.9991Z" fill="#F3862A"/></g><defs><clipPath id="clip0"><rect width="21" height="21" fill="white"/></clipPath></defs></svg>
                                        span Отзывы
                            .tabs__content.active
                                p Конструктор строительные машинки с отверткой LampStory (68 деталей). В конструкторе детали для сборки 7 –ми разных моделей строительной техники. Для этого в наборе есть отвертка, болтики и детали для сборки машин. Для дополнительного привлечения внимания ребенка в машинках есть звуковое сопровождение. Конструктор поможет детям получить первые навыки конструирования и развитие рук, что хорошо для мелкой моторики ребенка.
                            .tabs__content
                                .reviews__content
                                    ul
                                        li.item
                                            .item__head
                                                .picture
                                                    img(src="images/avatar.png" alt="")
                                                .group
                                                    span.name Ольга Николаева
                                                    span.city г. Златоуст
                                            .item__footer.hide
                                                p Вот такой классный пингвин 🐧 появился у нас дома. Мы долго искали ночник для Юны. В Бубль Гуме был один (!), но он на батарейках, что не по нраву моему мужу из-за постоянной смены этих батареек 🙈Мне же категорически не хотелось, чтобы ночник был от розетки потому что хотелось чтобы она могла с ним играть, но при этом не было соблазна высунуть и засунуть обратно вилку в розетку 🙄😝 на Фарпосте ничего подходящего не нашли. Заряжается он от USB и хватает, как пишут, надолго! Много режимов. Можно регулировать яркость. И что стало для меня сюрпризом, так это то, что он мягкий. Как резиновые игрушки, только ещё более мягкий, потому что сделан из силикона 😊 Заказывал муж, поэтому я не вдавалась в подробности😜Ребёнок счастлив, наминает вечерами пингвина, переключает цвета пультом, стукает его, чтобы он менял режимы и качает его как ребёночка, чтобы он уснул 😄 Красота 😆 @lamp__story , спасибо! 😊
                                            .reviews__answer
                                                button.answer-show Ответить
                                                .textarea-container
                                                    textarea(placeholder="Написать комментарий")
                                                    button.main-button Отправить
                                        li.item
                                            .item__head
                                                .picture
                                                    img(src="images/avatar.png" alt="")
                                                .group
                                                    span.name Ольга Николаева
                                                    span.city г. Златоуст
                                            .item__footer.hide
                                                p Вот такой классный пингвин 🐧 появился у нас дома. Мы долго искали ночник для Юны. В Бубль Гуме был один (!), но он на батарейках, что не по нраву моему мужу из-за постоянной смены этих батареек 🙈Мне же категорически не хотелось, чтобы ночник был от розетки потому что хотелось чтобы она могла с ним играть, но при этом не было соблазна высунуть и засунуть обратно вилку в розетку 🙄😝 на Фарпосте ничего подходящего не нашли. Заряжается он от USB и хватает, как пишут, надолго! Много режимов. Можно регулировать яркость. И что стало для меня сюрпризом, так это то, что он мягкий. Как резиновые игрушки, только ещё более мягкий, потому что сделан из силикона 😊 Заказывал муж, поэтому я не вдавалась в подробности😜Ребёнок счастлив, наминает вечерами пингвина, переключает цвета пультом, стукает его, чтобы он менял режимы и качает его как ребёночка, чтобы он уснул 😄 Красота 😆 @lamp__story , спасибо! 😊
                                            .reviews__answer
                                                button.answer-show Ответить
                                                .textarea-container
                                                    textarea(placeholder="Написать комментарий")
                                                    button.main-button Отправить
                                        li.item
                                            .item__head
                                                .picture
                                                    img(src="images/avatar.png" alt="")
                                                .group
                                                    span.name Ольга Николаева
                                                    span.city г. Златоуст
                                            .item__footer.hide
                                                p Вот такой классный пингвин 🐧 появился у нас дома. Мы долго искали ночник для Юны. В Бубль Гуме был один (!), но он на батарейках, что не по нраву моему мужу из-за постоянной смены этих батареек 🙈Мне же категорически не хотелось, чтобы ночник был от розетки потому что хотелось чтобы она могла с ним играть, но при этом не было соблазна высунуть и засунуть обратно вилку в розетку 🙄😝 на Фарпосте ничего подходящего не нашли. Заряжается он от USB и хватает, как пишут, надолго! Много режимов. Можно регулировать яркость. И что стало для меня сюрпризом, так это то, что он мягкий. Как резиновые игрушки, только ещё более мягкий, потому что сделан из силикона 😊 Заказывал муж, поэтому я не вдавалась в подробности😜Ребёнок счастлив, наминает вечерами пингвина, переключает цвета пультом, стукает его, чтобы он менял режимы и качает его как ребёночка, чтобы он уснул 😄 Красота 😆 @lamp__story , спасибо! 😊
                                            .reviews__answer
                                                button.answer-show Ответить
                                                .textarea-container
                                                    textarea(placeholder="Написать комментарий")
                                                    button.main-button Отправить


            include modules/footer.pug
            //- include modules/menu-mobile.pug
            include modules/script.pug