doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .content
            include modules/header.pug

            main.page-contacts
                //- breadcrumbs
                section.breadcrumbs
                    .container
                        ul
                            li
                                a(href="index.html") Главная
                            li
                                span /
                            li
                                a.current Контакты

                        a.main-button(href="index.html") 
                            span На главную
                            <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.869096 9.29602L9.44448 0.295551C9.82076 -0.098517 10.4304 -0.098517 10.8076 0.295551C11.1839 0.689619 11.1839 1.32969 10.8076 1.72376L2.91244 10.0101L10.8067 18.2964C11.183 18.6905 11.183 19.3305 10.8067 19.7256C10.4304 20.1197 9.81981 20.1197 9.44353 19.7256L0.868145 10.7251C0.497564 10.3351 0.497564 9.68501 0.869096 9.29602Z" fill="#4F4F51"/></svg>

                section.contacts
                    .container
                        h2.main-title Контакты
                        .contacts__wrapper
                            .contacts__content
                                h2.main-title Свяжитесь с нами
                                .contacts__property
                                    ul
                                        li
                                            span.fat ИП Кулешов А.С.
                                        li
                                            span.fat Телефон: 
                                            a(href="tel:+79207344911") +7 (920) 734-49-11
                                        li
                                            span.fat Адрес: 
                                            span г. Москва, Автомоторная 7, стр. 1
                                    ul
                                        li
                                            span.fat ОГРН: 
                                            span 317463200041564
                                        li
                                            span.fat ИНН: 
                                            span 123456789123
                                .social
                                    span Мы в социальных сетях:
                                    .icons
                                        .icn.icn--vk
                                            <svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.3831 11.4427C26.8496 10.7549 27.0023 10.449 27.3831 9.83424C27.39 9.82722 31.7941 3.61529 32.2479 1.50863L32.2506 1.50722C32.4761 0.739503 32.2506 0.175293 31.1603 0.175293H27.5522C26.6338 0.175293 26.2102 0.659503 25.9834 1.20126C25.9834 1.20126 24.1464 5.68968 21.5476 8.59915C20.7089 9.43986 20.3211 9.70933 19.8633 9.70933C19.6378 9.70933 19.2871 9.43986 19.2871 8.67214V1.50722C19.2871 0.586521 19.03 0.175293 18.2696 0.175293H12.5964C12.0203 0.175293 11.6779 0.604767 11.6779 1.00477C11.6779 1.87775 12.9773 2.07845 13.112 4.53459V9.86372C13.112 11.0314 12.9044 11.2462 12.4438 11.2462C11.2172 11.2462 8.24038 6.7395 6.47625 1.58161C6.12012 0.580907 5.77225 0.176696 4.84688 0.176696H1.2375C0.207625 0.176696 0 0.660907 0 1.20266C0 2.15985 1.2265 6.91915 5.7035 13.2069C8.68725 17.4988 12.8893 19.8244 16.7118 19.8244C19.0094 19.8244 19.2899 19.3079 19.2899 18.4195C19.2899 14.3185 19.0823 13.9311 20.2331 13.9311C20.7666 13.9311 21.6851 14.2006 23.8301 16.2707C26.2817 18.7255 26.6846 19.8244 28.0569 19.8244H31.6649C32.6934 19.8244 33.2145 19.3079 32.9147 18.289C32.2286 16.1458 27.5921 11.7374 27.3831 11.4427Z" fill="#F3862A"/></svg>
                                        .icn.icn--inst
                                            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.8125 0H17.1875C21.5016 0 25 3.49844 25 7.8125V17.1875C25 21.5016 21.5016 25 17.1875 25H7.8125C3.49844 25 0 21.5016 0 17.1875V7.8125C0 3.49844 3.49844 0 7.8125 0ZM19.2187 6.61409C19.6787 6.61409 20.0515 6.24123 20.0515 5.78128C20.0515 5.32133 19.6787 4.94847 19.2187 4.94847C18.7588 4.94847 18.3859 5.32133 18.3859 5.78128C18.3859 6.24123 18.7588 6.61409 19.2187 6.61409ZM12.5 6.25C9.04844 6.25 6.25 9.04844 6.25 12.5C6.25 15.9516 9.04844 18.75 12.5 18.75C15.9516 18.75 18.75 15.9516 18.75 12.5C18.75 9.04844 15.9516 6.25 12.5 6.25ZM12.5 16.4062C10.3469 16.4062 8.59375 14.6531 8.59375 12.5C8.59375 10.3453 10.3469 8.59375 12.5 8.59375C14.6531 8.59375 16.4062 10.3453 16.4062 12.5C16.4062 14.6531 14.6531 16.4062 12.5 16.4062Z" fill="#F3862A"/></svg>
                                        .icn.icn--tw
                                            <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.81018 15.1585L9.39662 21.5801C9.98832 21.5801 10.2446 21.2995 10.5519 20.9625L13.326 18.0358L19.0743 22.6829C20.1285 23.3315 20.8713 22.99 21.1557 21.6123L24.9288 2.0945C25.2632 0.374104 24.3663 -0.299796 23.3392 0.122254L1.16068 9.4959C-0.352962 10.1445 -0.330044 11.076 0.903367 11.4981L6.57352 13.445L19.7441 4.34735C20.364 3.89425 20.9276 4.14495 20.464 4.59805L9.81018 15.1585Z" fill="#F3862A"/></svg>
                                form.contacts__form(action="get")
                                    input(type="text" placeholder="Ваше имя" required)
                                    input(type="text" placeholder="Ваш E-mail" required)
                                    input(type="text" placeholder="Ваш телефон" required)
                                    textarea(placeholder="Комментарий (по желанию)")
                                    .consent
                                        .input
                                            input(type="checkbox" id="check1")
                                            label(for="check1") Согласен с обработкой персональных <br> данных
                                        input.main-button(type="submit" value="Отправить")

                            .contacts__map
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.64027671569!2d37.52981711598649!3d55.85155688057986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b537953a0cda35%3A0xcc36128155233097!2z0JDQstGC0L7QvNC-0YLQvtGA0L3QsNGPINGD0LsuLCA3LCDQnNC-0YHQutCy0LAsIDEyNTQzOA!5e0!3m2!1sru!2sru!4v1596116101268!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>








    include modules/footer.pug
    //- include modules/menu-mobile.pug
    include modules/script.pug