doctype html
html(lang="ru")
	head
		include modules/head.pug
	body
		.content
			include modules/header.pug

			main.page-index
				section.main-hero
					.main-hero__rectangle-mobile
						a.button.button--more(href="")
							span Подробнее
							<svg width="6" height="11" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3609 9.29602L1.79738 0.295551C1.42162 -0.098517 0.812826 -0.098517 0.436117 0.295551C0.0603568 0.689619 0.0603568 1.32969 0.436117 1.72376L8.32036 10.0101L0.437066 18.2964C0.0613058 18.6905 0.0613058 19.3305 0.437066 19.7256C0.812826 20.1197 1.42257 20.1197 1.79833 19.7256L10.3618 10.7251C10.7319 10.3351 10.7319 9.68501 10.3609 9.29602Z" fill="#FBFBFB"/></svg>

					.container

						.main-hero__catalog
							h2 Каталог
							ul
								li.show-picture-1
									a(href="")
										.icn
											<svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M13.0166 16.2042C10.7064 16.2042 8.83887 14.2708 8.83887 11.8792C8.83887 9.4875 10.7064 7.55416 13.0166 7.55416C15.3268 7.56249 17.1943 9.49583 17.1943 11.8792C17.2023 14.2708 15.3348 16.2042 13.0166 16.2042Z" fill="white"/><path d="M19.5282 23.0208H6.50403L0 11.5208L6.50403 0.0208435H19.5362L26.0403 11.5208L19.5282 23.0208ZM18.8118 11.8792C18.8118 8.57084 16.2198 5.88751 13.0242 5.88751C9.8285 5.88751 7.23654 8.57084 7.23654 11.8792C7.23654 15.1875 9.8285 17.8708 13.0242 17.8708C16.2198 17.8708 18.7957 15.1875 18.8118 11.8875C18.8118 11.8792 18.8118 11.8792 18.8118 11.8792Z" fill="white"/></g><defs><clipPath id="clip0"><rect width="26" height="23" fill="white" transform="matrix(1 0 0 -1 0 23)"/></clipPath></defs></svg>
										span Конструкторы развивающие
								li.show-picture-2
									a(href="")
										.icn
											<svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.5161 17.7386C10.7158 17.7386 9.99345 18.0771 9.48345 18.6177C8.97346 18.0771 8.25115 17.7386 7.45079 17.7386C5.45584 17.7386 4.10153 19.7776 4.87328 21.6112C5.6404 23.4572 8.08615 23.927 9.48345 22.4456C10.9703 24.0214 13.6121 23.3772 14.2045 21.2935C14.7118 19.5086 13.3623 17.7386 11.5161 17.7386Z" fill="white"/><path d="M20.8664 17.7386C18.4431 17.7386 17.1289 20.6641 18.8485 22.461C20.1307 23.8006 22.3538 23.5509 23.2916 21.9172C24.3583 20.0802 23.0167 17.7386 20.8664 17.7386Z" fill="white"/><path d="M3.84198 6.15994V7.70705C2.89761 8.0256 2.21585 8.9193 2.21585 9.96915C2.21585 11.2852 3.28727 12.3559 4.60423 12.3559C5.30438 12.3559 5.98862 12.0587 6.43469 11.5609C6.7155 11.2476 6.68893 10.766 6.37534 10.4853C6.06175 10.2048 5.57986 10.2313 5.29899 10.5447C5.14476 10.7168 4.86558 10.8324 4.60428 10.8324C4.12793 10.8324 3.7404 10.4452 3.7404 9.96915C3.7404 9.49312 4.12793 9.10587 4.60428 9.10587C5.02524 9.10587 5.36653 8.76482 5.36653 8.34415C5.36653 7.29211 5.36653 7.64022 5.36653 6.14806C6.53826 5.81565 7.39919 4.73761 7.39919 3.46153C7.39919 1.95526 6.16414 0.676178 4.60245 0.676178C3.06032 0.676178 1.80566 1.92992 1.80566 3.47098C1.80566 4.74863 2.66838 5.82799 3.84198 6.15994Z" fill="white"/><path d="M26.964 15.2441C26.9631 15.1397 26.9409 15.0392 26.9024 14.9496C26.8867 14.9131 27.0575 15.2497 24.391 10.0291C24.2608 9.77408 23.9985 9.61361 23.7121 9.61361H19.6468C19.2258 9.61361 18.8845 9.95466 18.8845 10.3753V11.2391L17.1568 11.2401V9.16014C17.1568 8.89272 17.0165 8.64491 16.7871 8.50724L8.91254 3.77881C8.78865 5.47424 7.6809 6.90124 6.15854 7.48944L12.3831 12.0898L11.5072 12.9652H18.8845V14.4886C18.3788 14.4886 3.07134 14.4886 2.57243 14.4886C2.22383 14.4886 1.91964 14.7249 1.83371 15.0626L0.969833 18.4568C0.907481 18.7016 0.970747 18.9615 1.13859 19.1503L2.81553 21.0373C2.91717 21.1517 3.05015 21.2308 3.19564 21.2682C2.73585 18.6088 4.79646 16.2152 7.4508 16.2152C8.16345 16.2152 8.86238 16.3947 9.48346 16.7261C10.1045 16.3947 10.8035 16.2152 11.5161 16.2152C14.1834 16.2152 16.2436 18.6294 15.7668 21.2933H16.6157C16.1384 18.6272 18.2011 16.2152 20.8664 16.2152C23.5241 16.2152 25.5808 18.6127 25.1215 21.2684C25.2474 21.236 25.3642 21.1725 25.4596 21.0811L26.73 19.8623C26.8797 19.7187 26.9643 19.5202 26.9643 19.3128C26.9643 19.1327 26.9645 15.3247 26.964 15.2441Z" fill="white"/></svg>
										span Конструкторы строительные
								li.show-picture-3
									a(href="")
										.icn
											<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M20.1247 11.1182C20.5785 11.2695 21.0676 11.023 21.2183 10.5707L22.5238 6.6553C22.7104 6.09573 22.2939 5.51675 21.7041 5.51699L20.3546 5.51746L21.5339 2.45149C21.7055 2.00554 21.4833 1.50507 21.0378 1.3337C20.5922 1.1623 20.0919 1.38513 19.9204 1.83097L18.2888 6.07272C18.0713 6.63805 18.4882 7.24835 19.0952 7.24806L20.504 7.24757L19.5782 10.0242C19.4271 10.4774 19.6718 10.9673 20.1247 11.1182Z" fill="white"/><g clip-path="url(#clip1)"><path d="M21.4082 23H0.697266C0.341312 23 0.0527344 22.7145 0.0527344 22.3625V15.35H21.4082C21.7642 15.35 22.0527 15.6354 22.0527 15.9875V22.3625C22.0527 22.7145 21.7642 23 21.4082 23Z" fill="white"/><path d="M6.49805 7.69999V7.06249C6.49805 6.71042 6.20947 6.42499 5.85352 6.42499H3.27539C2.91944 6.42499 2.63086 6.71042 2.63086 7.06249V7.69999H6.49805Z" fill="white"/><path d="M11.6543 7.69999V7.06249C11.6543 6.71042 11.3657 6.42499 11.0098 6.42499H8.43164C8.07569 6.42499 7.78711 6.71042 7.78711 7.06249V7.69999H11.6543Z" fill="white"/><path d="M19.4746 14.075V13.4375C19.4746 13.0854 19.186 12.8 18.8301 12.8H16.252C15.896 12.8 15.6074 13.0854 15.6074 13.4375V14.075H19.4746Z" fill="white"/><path d="M14.2324 14.075V9.61248C14.2324 9.26041 13.9438 8.97498 13.5879 8.97498H0.697266C0.341312 8.97498 0.0527344 9.26041 0.0527344 9.61248V14.075H14.2324Z" fill="white"/></g></g><defs><clipPath id="clip0"><rect width="25" height="25" fill="white"/></clipPath><clipPath id="clip1"><rect width="22" height="17" fill="white" transform="translate(0.0527344 6)"/></clipPath></defs></svg>
										span Конструкторы с электронными блоками
								li.show-picture-4
									a(href="")
										.icn
											<svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.72373 15.7546C2.67296 14.721 4.23671 14.488 5.44941 15.2361V0.986848C3.48464 -0.221355 0.946289 1.19652 0.946289 3.50085V16.5315L1.72373 15.7546Z" fill="white"/><path d="M23.7172 3.54769C23.4615 3.54768 22.1086 3.54769 22.1086 3.54769H20.4596C20.4596 3.54769 20.1475 3.54483 19.7613 3.54769C19.7613 3.54769 19.4588 3.54769 19.0524 3.54769C18.646 3.54769 6.85641 3.54769 6.85641 3.54769V17.7309C6.85641 18.1095 6.56526 18.4353 6.18681 18.4531C5.78274 18.4722 5.44919 18.1504 5.44919 17.7509C5.44919 16.8979 4.75477 16.204 3.90124 16.204C3.46514 16.204 3.04691 16.3893 2.75378 16.7126C2.73624 16.732 2.18691 17.2803 2.1916 17.2756C0.674092 18.792 1.69419 21.454 3.90124 21.454C4.16988 21.454 22.03 21.455 22.1086 21.4523C22.9105 21.4253 23.3361 21.4255 23.5552 21.2083C23.9161 20.8508 23.7172 19.9039 23.7172 17.2756C23.7172 13.0513 23.7172 3.54769 23.7172 3.54769Z" fill="white"/></svg>
										span Детские коврики
								li.show-picture-5
									a(href="")
										.icn
											<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.1199 14.4983C21.0022 14.4426 20.8662 14.4395 20.746 14.4898H20.7506C15.7684 16.5491 10.0588 14.1824 7.99804 9.20361C6.95279 6.67828 7.01542 3.83058 8.17069 1.35359C8.27921 1.12428 8.18114 0.85048 7.95167 0.742026C7.83389 0.686335 7.69796 0.683292 7.57777 0.733529C2.11621 2.97552 -0.492569 9.21739 1.75092 14.6752C3.99441 20.1329 10.2406 22.7399 15.7022 20.498C18.1932 19.4754 20.2062 17.5512 21.339 15.1098C21.4475 14.8805 21.3494 14.6067 21.1199 14.4983Z" fill="white"/></svg>
										span Ночники беспроводные

							.main-hero__social
								span Мы в соцсетях:
								a(href="").icn.icn--vk
									<svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M16.8765 7.88781C16.548 7.4646 16.642 7.27631 16.8765 6.89801C16.8808 6.89369 19.5929 3.07096 19.8723 1.77455L19.874 1.77369C20.0128 1.30125 19.874 0.954041 19.2025 0.954041H16.9807C16.415 0.954041 16.1542 1.25202 16.0145 1.5854C16.0145 1.5854 14.8833 4.34751 13.283 6.13796C12.7664 6.65531 12.5277 6.82114 12.2457 6.82114C12.1068 6.82114 11.8909 6.65531 11.8909 6.18287V1.77369C11.8909 1.2071 11.7326 0.954041 11.2643 0.954041H7.77067C7.41588 0.954041 7.20504 1.21833 7.20504 1.46449C7.20504 2.00171 8.00521 2.12521 8.08819 3.63669V6.91615C8.08819 7.63474 7.96034 7.76689 7.67668 7.76689C6.92139 7.76689 5.08819 4.99356 4.00182 1.81947C3.78252 1.20365 3.56829 0.954904 2.99843 0.954904H0.775739C0.14153 0.954904 0.0136719 1.25288 0.0136719 1.58627C0.0136719 2.17531 0.768965 5.10411 3.52595 8.97348C5.36338 11.6147 7.95102 13.0458 10.305 13.0458C11.7199 13.0458 11.8926 12.728 11.8926 12.1812C11.8926 9.65753 11.7647 9.41914 12.4735 9.41914C12.802 9.41914 13.3676 9.58497 14.6885 10.8589C16.1983 12.3695 16.4464 13.0458 17.2914 13.0458H19.5133C20.1466 13.0458 20.4675 12.728 20.283 12.1009C19.8604 10.7821 17.0052 8.06918 16.8765 7.88781Z" fill="white"/></g><defs><clipPath id="clip0"><rect width="20.3218" height="12.3077" fill="white" transform="translate(0.0136719 0.84613)"/></clipPath></defs></svg>

								a(href="").icn.icn--inst
									<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.61572 0H11.389C14.0456 0 16.2 2.15288 16.2 4.80769V10.5769C16.2 13.2317 14.0456 15.3846 11.389 15.3846H5.61572C2.95907 15.3846 0.804688 13.2317 0.804688 10.5769V4.80769C0.804688 2.15288 2.95907 0 5.61572 0ZM12.6394 4.0702C12.9225 4.0702 13.1519 3.84075 13.1519 3.55771C13.1519 3.27466 12.9225 3.04521 12.6394 3.04521C12.3564 3.04521 12.1269 3.27466 12.1269 3.55771C12.1269 3.84075 12.3564 4.0702 12.6394 4.0702ZM8.50233 3.84615C6.37682 3.84615 4.65351 5.56827 4.65351 7.69231C4.65351 9.81635 6.37682 11.5385 8.50233 11.5385C10.6278 11.5385 12.3512 9.81635 12.3512 7.69231C12.3512 5.56827 10.6278 3.84615 8.50233 3.84615ZM8.50233 10.0962C7.17641 10.0962 6.09682 9.01731 6.09682 7.69231C6.09682 6.36635 7.17641 5.28846 8.50233 5.28846C9.82825 5.28846 10.9078 6.36635 10.9078 7.69231C10.9078 9.01731 9.82825 10.0962 8.50233 10.0962Z" fill="white"/></svg>
					.main-hero__rectangle
						h2 LAMPSTORY
						p СКИДКА 50% НА ВСЕ БЕСПРОВОДНЫЕ НОЧНИКИ
						a.button(href="") 
							span Подробнее
							<svg width="11" height="21" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3609 9.29602L1.79738 0.295551C1.42162 -0.098517 0.812826 -0.098517 0.436117 0.295551C0.0603568 0.689619 0.0603568 1.32969 0.436117 1.72376L8.32036 10.0101L0.437066 18.2964C0.0613058 18.6905 0.0613058 19.3305 0.437066 19.7256C0.812826 20.1197 1.42257 20.1197 1.79833 19.7256L10.3618 10.7251C10.7319 10.3351 10.7319 9.68501 10.3609 9.29602Z" fill="#FBFBFB"/></svg>
				section.hits
					.container
						.hits__head
							h2.main-title Хиты продаж
							a.main-button(href="")
								span В каталог
								<svg width="11" height="21" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5811 9.29602L2.00571 0.295551C1.62943 -0.098517 1.0198 -0.098517 0.642563 0.295551C0.266281 0.689619 0.266281 1.32969 0.642563 1.72376L8.53776 10.0101L0.643513 18.2964C0.267231 18.6905 0.267231 19.3305 0.643513 19.7256C1.0198 20.1197 1.63038 20.1197 2.00667 19.7256L10.5821 10.7251C10.9526 10.3351 10.9526 9.68501 10.5811 9.29602Z" fill="#4F4F51"/></svg>

						.hits__content
							ul
								li.item
									.item__head
										.picture
											img(src="images/hits/item1.png" alt="")
										.item__title
											a(href="").name Конструкторы развивающие
											a(href="").description Конструктор с шуруповертом Рыбка
									.item__footer
										.price-wrap
											span.price 2290 ₽
										.group
											.icn.icn--compare
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.85797 17.8274H2.28088C1.69261 17.8274 1.21582 17.3509 1.21582 16.763V7.45024C1.21582 6.86238 1.69261 6.38592 2.28088 6.38592H4.85797C5.44624 6.38592 5.92303 6.86238 5.92303 7.45024V16.763C5.92303 17.3509 5.44624 17.8274 4.85797 17.8274Z" fill="#F3862A"/><path d="M11.4263 17.8274H8.84924C8.26097 17.8274 7.78418 17.3509 7.78418 16.763V1.06432C7.78418 0.476461 8.26097 0 8.84924 0H11.4263C12.0146 0 12.4914 0.476461 12.4914 1.06432V16.763C12.4914 17.3509 12.0146 17.8274 11.4263 17.8274Z" fill="#F3862A"/><path d="M18.0533 17.8274H15.4762C14.8879 17.8274 14.4111 17.3509 14.4111 16.763V4.61205C14.4111 4.02419 14.8879 3.54773 15.4762 3.54773H18.0533C18.6415 3.54773 19.1183 4.02419 19.1183 4.61205V16.763C19.1183 17.3509 18.6415 17.8274 18.0533 17.8274Z" fill="#F3862A"/><path d="M18.7956 20H1.21612C0.921812 20 0.683594 19.762 0.683594 19.4678C0.683594 19.1737 0.921812 18.9357 1.21612 18.9357H18.7963C19.0907 18.9357 19.3289 19.1737 19.3289 19.4678C19.3282 19.762 19.0899 20 18.7956 20Z" fill="#F3862A"/></svg>

											.icn.icn--basket
												<svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M7.78665 15.6128H20.4988C20.8136 15.6128 21.0897 15.4035 21.1749 15.0995L23.9895 5.19404C24.05 4.98049 24.0086 4.7511 23.8754 4.57367C23.742 4.39679 23.5346 4.29232 23.3132 4.29232H6.16229L5.65932 2.01647C5.58786 1.69237 5.30202 1.46224 4.9722 1.46224H0.703613C0.314794 1.46224 0 1.77878 0 2.16976C0 2.56092 0.314794 2.87728 0.703613 2.87728H4.40748L6.94836 14.3745C6.20077 14.7013 5.67581 15.4496 5.67581 16.3203C5.67581 17.4907 6.62276 18.4429 7.78665 18.4429H20.4988C20.8878 18.4429 21.2024 18.1265 21.2024 17.7354C21.2024 17.3444 20.8878 17.0279 20.4988 17.0279H7.78665C7.39911 17.0279 7.08304 16.7108 7.08304 16.3203C7.08304 15.9299 7.39911 15.6128 7.78665 15.6128Z" fill="#F3862A"/><path d="M7.08301 20.5654C7.08301 21.7359 8.02995 22.688 9.19403 22.688C10.3579 22.688 11.3049 21.7359 11.3049 20.5654C11.3049 19.3951 10.3579 18.4428 9.19403 18.4428C8.02995 18.4428 7.08301 19.3951 7.08301 20.5654Z" fill="#F3862A"/><path d="M16.9805 20.5654C16.9805 21.7359 17.9274 22.688 19.0913 22.688C20.2554 22.688 21.2021 21.7359 21.2021 20.5654C21.2021 19.3951 20.2554 18.4428 19.0913 18.4428C17.9274 18.4428 16.9805 19.3951 16.9805 20.5654Z" fill="#F3862A"/></g><defs><clipPath id="clip0"><rect width="24.0167" height="23" fill="white"/></clipPath></defs></svg>

								li.item
									.item__head
										.picture
											img(src="images/hits/item2.png" alt="")
										.item__title
											a(href="").name Конструкторы развивающие
											a(href="").description Конструктор с шуруповертом Рыбка
									.item__footer
										.price-wrap
											span.price 2290 ₽
										.group
											.icn.icn--compare
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.85797 17.8274H2.28088C1.69261 17.8274 1.21582 17.3509 1.21582 16.763V7.45024C1.21582 6.86238 1.69261 6.38592 2.28088 6.38592H4.85797C5.44624 6.38592 5.92303 6.86238 5.92303 7.45024V16.763C5.92303 17.3509 5.44624 17.8274 4.85797 17.8274Z" fill="#F3862A"/><path d="M11.4263 17.8274H8.84924C8.26097 17.8274 7.78418 17.3509 7.78418 16.763V1.06432C7.78418 0.476461 8.26097 0 8.84924 0H11.4263C12.0146 0 12.4914 0.476461 12.4914 1.06432V16.763C12.4914 17.3509 12.0146 17.8274 11.4263 17.8274Z" fill="#F3862A"/><path d="M18.0533 17.8274H15.4762C14.8879 17.8274 14.4111 17.3509 14.4111 16.763V4.61205C14.4111 4.02419 14.8879 3.54773 15.4762 3.54773H18.0533C18.6415 3.54773 19.1183 4.02419 19.1183 4.61205V16.763C19.1183 17.3509 18.6415 17.8274 18.0533 17.8274Z" fill="#F3862A"/><path d="M18.7956 20H1.21612C0.921812 20 0.683594 19.762 0.683594 19.4678C0.683594 19.1737 0.921812 18.9357 1.21612 18.9357H18.7963C19.0907 18.9357 19.3289 19.1737 19.3289 19.4678C19.3282 19.762 19.0899 20 18.7956 20Z" fill="#F3862A"/></svg>

											.icn.icn--basket
												<svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M7.78665 15.6128H20.4988C20.8136 15.6128 21.0897 15.4035 21.1749 15.0995L23.9895 5.19404C24.05 4.98049 24.0086 4.7511 23.8754 4.57367C23.742 4.39679 23.5346 4.29232 23.3132 4.29232H6.16229L5.65932 2.01647C5.58786 1.69237 5.30202 1.46224 4.9722 1.46224H0.703613C0.314794 1.46224 0 1.77878 0 2.16976C0 2.56092 0.314794 2.87728 0.703613 2.87728H4.40748L6.94836 14.3745C6.20077 14.7013 5.67581 15.4496 5.67581 16.3203C5.67581 17.4907 6.62276 18.4429 7.78665 18.4429H20.4988C20.8878 18.4429 21.2024 18.1265 21.2024 17.7354C21.2024 17.3444 20.8878 17.0279 20.4988 17.0279H7.78665C7.39911 17.0279 7.08304 16.7108 7.08304 16.3203C7.08304 15.9299 7.39911 15.6128 7.78665 15.6128Z" fill="#F3862A"/><path d="M7.08301 20.5654C7.08301 21.7359 8.02995 22.688 9.19403 22.688C10.3579 22.688 11.3049 21.7359 11.3049 20.5654C11.3049 19.3951 10.3579 18.4428 9.19403 18.4428C8.02995 18.4428 7.08301 19.3951 7.08301 20.5654Z" fill="#F3862A"/><path d="M16.9805 20.5654C16.9805 21.7359 17.9274 22.688 19.0913 22.688C20.2554 22.688 21.2021 21.7359 21.2021 20.5654C21.2021 19.3951 20.2554 18.4428 19.0913 18.4428C17.9274 18.4428 16.9805 19.3951 16.9805 20.5654Z" fill="#F3862A"/></g><defs><clipPath id="clip0"><rect width="24.0167" height="23" fill="white"/></clipPath></defs></svg>
									.billet.billet--sale 50%
								li.item
									.item__head
										.picture
											img(src="images/hits/item3.png" alt="")
										.item__title
											a(href="").name Конструкторы развивающие
											a(href="").description Конструктор с шуруповертом Рыбка
									.item__footer
										.price-wrap
											span.price 2290 ₽
										.group
											.icn.icn--compare
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.85797 17.8274H2.28088C1.69261 17.8274 1.21582 17.3509 1.21582 16.763V7.45024C1.21582 6.86238 1.69261 6.38592 2.28088 6.38592H4.85797C5.44624 6.38592 5.92303 6.86238 5.92303 7.45024V16.763C5.92303 17.3509 5.44624 17.8274 4.85797 17.8274Z" fill="#F3862A"/><path d="M11.4263 17.8274H8.84924C8.26097 17.8274 7.78418 17.3509 7.78418 16.763V1.06432C7.78418 0.476461 8.26097 0 8.84924 0H11.4263C12.0146 0 12.4914 0.476461 12.4914 1.06432V16.763C12.4914 17.3509 12.0146 17.8274 11.4263 17.8274Z" fill="#F3862A"/><path d="M18.0533 17.8274H15.4762C14.8879 17.8274 14.4111 17.3509 14.4111 16.763V4.61205C14.4111 4.02419 14.8879 3.54773 15.4762 3.54773H18.0533C18.6415 3.54773 19.1183 4.02419 19.1183 4.61205V16.763C19.1183 17.3509 18.6415 17.8274 18.0533 17.8274Z" fill="#F3862A"/><path d="M18.7956 20H1.21612C0.921812 20 0.683594 19.762 0.683594 19.4678C0.683594 19.1737 0.921812 18.9357 1.21612 18.9357H18.7963C19.0907 18.9357 19.3289 19.1737 19.3289 19.4678C19.3282 19.762 19.0899 20 18.7956 20Z" fill="#F3862A"/></svg>

											.icn.icn--basket
												<svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M7.78665 15.6128H20.4988C20.8136 15.6128 21.0897 15.4035 21.1749 15.0995L23.9895 5.19404C24.05 4.98049 24.0086 4.7511 23.8754 4.57367C23.742 4.39679 23.5346 4.29232 23.3132 4.29232H6.16229L5.65932 2.01647C5.58786 1.69237 5.30202 1.46224 4.9722 1.46224H0.703613C0.314794 1.46224 0 1.77878 0 2.16976C0 2.56092 0.314794 2.87728 0.703613 2.87728H4.40748L6.94836 14.3745C6.20077 14.7013 5.67581 15.4496 5.67581 16.3203C5.67581 17.4907 6.62276 18.4429 7.78665 18.4429H20.4988C20.8878 18.4429 21.2024 18.1265 21.2024 17.7354C21.2024 17.3444 20.8878 17.0279 20.4988 17.0279H7.78665C7.39911 17.0279 7.08304 16.7108 7.08304 16.3203C7.08304 15.9299 7.39911 15.6128 7.78665 15.6128Z" fill="#F3862A"/><path d="M7.08301 20.5654C7.08301 21.7359 8.02995 22.688 9.19403 22.688C10.3579 22.688 11.3049 21.7359 11.3049 20.5654C11.3049 19.3951 10.3579 18.4428 9.19403 18.4428C8.02995 18.4428 7.08301 19.3951 7.08301 20.5654Z" fill="#F3862A"/><path d="M16.9805 20.5654C16.9805 21.7359 17.9274 22.688 19.0913 22.688C20.2554 22.688 21.2021 21.7359 21.2021 20.5654C21.2021 19.3951 20.2554 18.4428 19.0913 18.4428C17.9274 18.4428 16.9805 19.3951 16.9805 20.5654Z" fill="#F3862A"/></g><defs><clipPath id="clip0"><rect width="24.0167" height="23" fill="white"/></clipPath></defs></svg>
									.billet.billet--new
										<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.7588 13.3838L15.3571 11.9823C14.8884 11.5134 14.625 10.8775 14.625 10.2145V7.06758C14.625 4.3677 12.7863 1.98273 10.2354 1.3948C10.2409 1.34676 10.25 1.29961 10.25 1.25C10.25 0.560898 9.6891 0 9 0C8.3109 0 7.75 0.560898 7.75 1.25C7.75 1.29883 7.75887 1.34508 7.76434 1.39238C5.25336 1.95617 3.375 4.19371 3.375 6.875V10.2145C3.375 10.8775 3.11164 11.5134 2.64289 11.9823L1.24121 13.3838C1.00684 13.6183 0.875 13.9362 0.875 14.2677V15.625H17.125V14.2677C17.125 13.9362 16.9932 13.6183 16.7588 13.3838Z" fill="white"/></svg>
										span Новинка
								li.item
									.item__head
										.picture
											img(src="images/hits/item4.png" alt="")
										.item__title
											a(href="").name Конструкторы развивающие
											a(href="").description Конструктор с шуруповертом Рыбка
									.item__footer
										.price-wrap
											span.price--old 2290 ₽
											span.price 1900 ₽
										.group
											.icn.icn--compare
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.85797 17.8274H2.28088C1.69261 17.8274 1.21582 17.3509 1.21582 16.763V7.45024C1.21582 6.86238 1.69261 6.38592 2.28088 6.38592H4.85797C5.44624 6.38592 5.92303 6.86238 5.92303 7.45024V16.763C5.92303 17.3509 5.44624 17.8274 4.85797 17.8274Z" fill="#F3862A"/><path d="M11.4263 17.8274H8.84924C8.26097 17.8274 7.78418 17.3509 7.78418 16.763V1.06432C7.78418 0.476461 8.26097 0 8.84924 0H11.4263C12.0146 0 12.4914 0.476461 12.4914 1.06432V16.763C12.4914 17.3509 12.0146 17.8274 11.4263 17.8274Z" fill="#F3862A"/><path d="M18.0533 17.8274H15.4762C14.8879 17.8274 14.4111 17.3509 14.4111 16.763V4.61205C14.4111 4.02419 14.8879 3.54773 15.4762 3.54773H18.0533C18.6415 3.54773 19.1183 4.02419 19.1183 4.61205V16.763C19.1183 17.3509 18.6415 17.8274 18.0533 17.8274Z" fill="#F3862A"/><path d="M18.7956 20H1.21612C0.921812 20 0.683594 19.762 0.683594 19.4678C0.683594 19.1737 0.921812 18.9357 1.21612 18.9357H18.7963C19.0907 18.9357 19.3289 19.1737 19.3289 19.4678C19.3282 19.762 19.0899 20 18.7956 20Z" fill="#F3862A"/></svg>

											.icn.icn--basket
												<svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M7.78665 15.6128H20.4988C20.8136 15.6128 21.0897 15.4035 21.1749 15.0995L23.9895 5.19404C24.05 4.98049 24.0086 4.7511 23.8754 4.57367C23.742 4.39679 23.5346 4.29232 23.3132 4.29232H6.16229L5.65932 2.01647C5.58786 1.69237 5.30202 1.46224 4.9722 1.46224H0.703613C0.314794 1.46224 0 1.77878 0 2.16976C0 2.56092 0.314794 2.87728 0.703613 2.87728H4.40748L6.94836 14.3745C6.20077 14.7013 5.67581 15.4496 5.67581 16.3203C5.67581 17.4907 6.62276 18.4429 7.78665 18.4429H20.4988C20.8878 18.4429 21.2024 18.1265 21.2024 17.7354C21.2024 17.3444 20.8878 17.0279 20.4988 17.0279H7.78665C7.39911 17.0279 7.08304 16.7108 7.08304 16.3203C7.08304 15.9299 7.39911 15.6128 7.78665 15.6128Z" fill="#F3862A"/><path d="M7.08301 20.5654C7.08301 21.7359 8.02995 22.688 9.19403 22.688C10.3579 22.688 11.3049 21.7359 11.3049 20.5654C11.3049 19.3951 10.3579 18.4428 9.19403 18.4428C8.02995 18.4428 7.08301 19.3951 7.08301 20.5654Z" fill="#F3862A"/><path d="M16.9805 20.5654C16.9805 21.7359 17.9274 22.688 19.0913 22.688C20.2554 22.688 21.2021 21.7359 21.2021 20.5654C21.2021 19.3951 20.2554 18.4428 19.0913 18.4428C17.9274 18.4428 16.9805 19.3951 16.9805 20.5654Z" fill="#F3862A"/></g><defs><clipPath id="clip0"><rect width="24.0167" height="23" fill="white"/></clipPath></defs></svg>
									.billet.billet--hit
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 19.3524L8.6 17.9524C3.4 13.3524 0 10.2524 0 6.45239C0 3.35239 2.4 0.952393 5.5 0.952393C7.2 0.952393 8.9 1.75239 10 3.05239C11.1 1.75239 12.8 0.952393 14.5 0.952393C17.6 0.952393 20 3.35239 20 6.45239C20 10.2524 16.6 13.3524 11.4 17.9524L10 19.3524Z" fill="#FBFBFB"/></svg>
										span Хит продаж
				section.answers
					.container
						h2.main-title Почему выбирают LampStory?
						ul.answers__list.slick-answer
							li.item
								.picture
									img(src="images/answers/item1.jpg" alt="")
								.content
									h3 А что в нем особенного?
									p Силиконовый ночник LampStory выполнен в форме добрых и милых персонажей. Он излучает рассеянный и регулируемый мягкий свет, который поможет ребенку успокоиться и спокойно уснуть
							li.item
								.picture
									img(src="images/answers/item2.jpg" alt="")
								.content
									h3 Развивающий 3D конструктор  с шуруповертом
									p Шуруповерт (Электродрель) с насадками, гаечный ключ, отвертка. Возможность собирать 3D модели. Яркие карточки для привлечения внимания ребенка.
							li.item
								.picture
									img(src="images/answers/item3.jpg" alt="")
								.content
									h3 Очень удобно
									p Сенсорное и дистанционное управление позволит Вам или даже Вашему ребенку настроить режим яркости, один из 8 режимов тональности, таймер (15/30/60 минут). Изготовлен из мягкого гипоаллергенного силикона, не боится воды, его легко можно мять и гнуть
							li.item
								.picture
									img(src="images/answers/item4.jpg" alt="")
								.content
									h3 Очень интересно
									p Мы максимально унифицировали наш конструктор! Добавили мозаику для малышей от 2-3 лет и элементы 3D конструирования для детишек до 5-7 лет. Разработано методическое руководство для занятий с ребенком с примерами возможных вариантов игры с конструктором



				section.catalog
					.container
						h2.main-title Каталог
						.catalog__wrapper
							.catalog__main
								a(href="")
									.picture
										img(src="images/catalog/item-big.jpg" alt="")
									h3 Конструкторы с электронными блоками
							.catalog__list
								ul.desctop
									li
										a(href="")
											.picture
												img(src="images/catalog/item1.jpg" alt="")
											h3 Конструкторы <br> развивающие
									li
										a(href="")
											.picture
												img(src="images/catalog/item2.jpg" alt="")
											h3 Конструкторы <br> строительные
									li
										a(href="")
											.picture
												img(src="images/catalog/item3.jpg" alt="")
											h3 Детские коврики
									li
										a(href="")
											.picture
												img(src="images/catalog/item4.jpg" alt="")
											h3 Ночники беспроводные
								ul.mobile
									li
										a(href="") Конструкторы развивающие
									li
										a(href="") Конструкторы строительные
									li
										a(href="") Конструкторы с электронными блоками
									li
										a(href="") Детские коврики
									li
										a(href="") Ночники беспроводные

				section.sale
					.slick-sale
						.sale__item
							.container
								.sale__inner
									.item
										h2 СКИДКИ ДО 50%
										p.subtitle НА ВСЕ БЕСПРОВОДНЫЕ НОЧНИКИ
										a.button(href="") Интересно
						.sale__item
							.container
								.sale__inner
									.item
										h2 СКИДКИ ДО 50%
										p.subtitle НА ВСЕ БЕСПРОВОДНЫЕ НОЧНИКИ
										a.button(href="") Интересно
						.sale__item
							.container
								.sale__inner
									.item
										h2 СКИДКИ ДО 50%
										p.subtitle НА ВСЕ БЕСПРОВОДНЫЕ НОЧНИКИ
										a.button(href="") Интересно


				section.gallery
					.container
						h2.main-title Фотогалерея
					.gallery__wrapper
						ul.slick-photo
							li
								a(href="")
									img(src="images/gallery/item1.jpg" alt="")
							li
								a(href="")
									img(src="images/gallery/item2.jpg" alt="")
							li
								a(href="")
									img(src="images/gallery/item3.jpg" alt="")
							li
								a(href="")
									img(src="images/gallery/item4.jpg" alt="")
							li
								a(href="")
									img(src="images/gallery/item5.jpg" alt="")
							li
								a(href="")
									img(src="images/gallery/item6.jpg" alt="")
							li
								a(href="")
									img(src="images/gallery/item7.jpg" alt="")
							li
								a(href="")
									img(src="images/gallery/item8.jpg" alt="")

				section.reviews
					.container
						.reviews__head
							h2.main-title Отзывы о нашей продукции
							a.main-button(href="")
								span ВСЕ ОТЗЫВЫ
								<svg width="11" height="21" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5811 9.29602L2.00571 0.295551C1.62943 -0.098517 1.0198 -0.098517 0.642563 0.295551C0.266281 0.689619 0.266281 1.32969 0.642563 1.72376L8.53776 10.0101L0.643513 18.2964C0.267231 18.6905 0.267231 19.3305 0.643513 19.7256C1.0198 20.1197 1.63038 20.1197 2.00667 19.7256L10.5821 10.7251C10.9526 10.3351 10.9526 9.68501 10.5811 9.29602Z" fill="#4F4F51"/></svg>
						.reviews__content
							ul.slick-reviews
								li.item
									.item__head
										.picture
											img(src="images/avatar.png" alt="")
										span.name Ольга Николаева
										span.city г. Златоуст
									.item__footer.hide
										p Вот такой классный пингвин 🐧 появился у нас дома. Мы долго искали ночник для Юны. В Бубль Гуме был один (!), но он на батарейках, что не по нраву моему мужу из-за постоянной смены этих батареек 🙈Мне же категорически не хотелось, чтобы ночник был от розетки потому что хотелось чтобы она могла с ним играть, но при этом не было соблазна высунуть и засунуть обратно вилку в розетку 🙄😝 на Фарпосте ничего подходящего не нашли. Заряжается он от USB и хватает, как пишут, надолго! Много режимов. Можно регулировать яркость. И что стало для меня сюрпризом, так это то, что он мягкий. Как резиновые игрушки, только ещё более мягкий, потому что сделан из силикона 😊 Заказывал муж, поэтому я не вдавалась в подробности😜Ребёнок счастлив, наминает вечерами пингвина, переключает цвета пультом, стукает его, чтобы он менял режимы и качает его как ребёночка, чтобы он уснул 😄 Красота 😆 @lamp__story , спасибо! 😊
									a(href="").text-toggle Показать полностью
								li.item
									.item__head
										.picture
											img(src="images/avatar.png" alt="")
										span.name Ольга Николаева
										span.city г. Златоуст
									.item__footer.hide
										p Вот такой классный пингвин 🐧 появился у нас дома. Мы долго искали ночник для Юны. В Бубль Гуме был один (!), но он на батарейках, что не по нраву моему мужу из-за постоянной смены этих батареек 🙈Мне же категорически не хотелось, чтобы ночник был от розетки потому что хотелось чтобы она могла с ним играть, но при этом не было соблазна высунуть и засунуть обратно вилку в розетку 🙄😝 на Фарпосте ничего подходящего не нашли. Заряжается он от USB и хватает, как пишут, надолго! Много режимов. Можно регулировать яркость. И что стало для меня сюрпризом, так это то, что он мягкий. Как резиновые игрушки, только ещё более мягкий, потому что сделан из силикона 😊 Заказывал муж, поэтому я не вдавалась в подробности😜Ребёнок счастлив, наминает вечерами пингвина, переключает цвета пультом, стукает его, чтобы он менял режимы и качает его как ребёночка, чтобы он уснул 😄 Красота 😆 @lamp__story , спасибо! 😊
									a(href="").text-toggle Показать полностью
								li.item
									.item__head
										.picture
											img(src="images/avatar.png" alt="")
										span.name Ольга Николаева
										span.city г. Златоуст
									.item__footer.hide
										p Вот такой классный пингвин 🐧 появился у нас дома. Мы долго искали ночник для Юны. В Бубль Гуме был один (!), но он на батарейках, что не по нраву моему мужу из-за постоянной смены этих батареек 🙈Мне же категорически не хотелось, чтобы ночник был от розетки потому что хотелось чтобы она могла с ним играть, но при этом не было соблазна высунуть и засунуть обратно вилку в розетку 🙄😝 на Фарпосте ничего подходящего не нашли. Заряжается он от USB и хватает, как пишут, надолго! Много режимов. Можно регулировать яркость. И что стало для меня сюрпризом, так это то, что он мягкий. Как резиновые игрушки, только ещё более мягкий, потому что сделан из силикона 😊 Заказывал муж, поэтому я не вдавалась в подробности😜Ребёнок счастлив, наминает вечерами пингвина, переключает цвета пультом, стукает его, чтобы он менял режимы и качает его как ребёночка, чтобы он уснул 😄 Красота 😆 @lamp__story , спасибо! 😊
									a(href="").text-toggle Показать полностью

						a.main-button.main-button--footer(href="") Все отзывы

				section.photos
					ul.slick-photo
						li
							img(src="images/gallery/item1.jpg" alt="")
						li
							img(src="images/gallery/item2.jpg" alt="")
						li
							img(src="images/gallery/item3.jpg" alt="")
						li
							img(src="images/gallery/item4.jpg" alt="")




		include modules/footer.pug
		include modules/mobile-menu.pug
		include modules/script.pug