$color-black: #000000;
$color-white: #ffffff;
$color-text: #4f4f51;
$color-red: #ff4a4a;
$color-orange: #f3862a;
$color-orange-2: #eb690a;
$color-yellow: #ffcb33;

$font-base: "Source Sans Pro", sans-serif;
$font-title: "Comfortaa", sans-serif;
